*{
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #F5F5F5;
}

header{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    width: 100%;
    position: fixed;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 1.8rem;
}

h3{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;   
    padding: 5px; 
}

h4{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 5px;
}

h5{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 1.9rem;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 10px;
    font-size: 1.6rem;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2px;
    font-size: 1.6rem;
    background-color: rgba(0, 255, 0, 0.5);
    border: solid;
}

.compre{
    background-color: rgba(255, 255, 0, 0.5);
    width: 150px;
    height: 100px;
    position: fixed;
    right: 0;
    text-align: center;
    margin-top: 10%;
    z-index: 1;
}

.container{
    background-color: #FFF;
    width: 80%;
    box-shadow: 2px 2px #808080;
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
    min-width: 0;
    min-height: 0;
}

/* configurando o grid */
#grid-container{
    margin-top: 5px;
    background-color: rgba(255, 157, 80);
    padding: 5px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid div{
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.6rem;
    padding: 2px;
}

/* configurando o formulário */
#formulario{
    background-color:rgba(173, 216, 230, 1.0);
}

/* configurando o rodape */
.texto-footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    font-size: 1.6rem;
    padding-bottom: 10px;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    background-color: #000;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}